.wslconfig linguist-language=ini
.condarc linguist-language=yaml
.minttyrc linguist-language=ini
.rprofile linguist-language=r
.config/bat/config linguist-language=ini
.config/git/config* linguist-language=properties
.config/htop/htoprc linguist-language=ini
.config/zed/keymap.json linguist-language=jsonc
.config/zed/settings.json linguist-language=jsonc
wsl.conf linguist-language=ini
tmux.conf linguist-language=sh
