.wslconfig linguist-language=ini
*.conf linguist-language=properties
.condarc linguist-language=yaml
.minttyrc linguist-language=ini
.rprofile linguist-language=r
.config/bat/config linguist-language=ini
.config/git/config* linguist-language=properties
