#:schema https://docs.jj-vcs.dev/latest/config-schema.json
# doc: https://docs.jj-vcs.dev/latest/config/
[user]
name = "Chawye Hsu"
email = "su+git@chawyehsu.com"
key = "0F08DA819FFD7B2D519673B65AE5178B3E1624DA"

[signing]
behavior = "own"
backend = "gpg"

[aliases]
ab = ["absorb"]
d = ["describe"]
dm = ["describe", "-m"]
df = ["diff"]
dfr = ["diff", "-r"]
drop = ["abandon"]
l = ["log"]
lr = ["log", "-r"]
lg = ["log", "-r", "all()"]
n = ["new"]
rb = ["rebase"]
rbo = ["rebase", "-o"]
rbt = ["rebase", "-o", "trunk()"]
re = ["restore", "-i"]
rea = ["restore"]
s = ["status"]
sp = ["split"]
sq = ["squash", "-i"]
sqa = ["squash"]
# ref:
# - https://shaddy.dev/notes/jj-tug/
# - https://github.com/jj-vcs/jj/discussions/2425#discussioncomment-13347028
tug = ["bookmark", "move", "--from", "nearest_bookmark(@-)", "--to", "nearest_nonempty(@)"]
# git
g = ["git"]
gf = ["git", "fetch"]
gp = ["git", "push"]
gpb = ["git", "push", "-b"]
gr = ["git", "remote"]
gra = ["git", "remote", "add"]
grl = ["git", "remote", "list"]

[ui]
default-command = "status"
diff-editor = ":builtin"
editor = "nano"

[git]
# (batch) sign commits only upon push
sign-on-push = true
# write an extra commit-header named `change-id`
write-change-id-header = true

[working-copy]
# similar to git's core.autocrlf = input
eol-conversion = "input"

[revset-aliases]
# https://github.com/jj-vcs/jj/discussions/6890
_ = "@"
# handy revsets from https://github.com/jj-vcs/jj/discussions/2425#discussioncomment-13347028
'nearest_bookmark(to)' = 'heads(::to & bookmarks())'
'nearest_nonempty(to)' = 'heads(::to ~ empty())'

[templates]
commit_trailers = '''
format_signed_off_by_trailer(self)'''
