#:schema https://docs.jj-vcs.dev/latest/config-schema.json
# doc: https://docs.jj-vcs.dev/latest/config/
[user]
name = "Chawye Hsu"
email = "su+git@chawyehsu.com"
key = "0F08DA819FFD7B2D519673B65AE5178B3E1624DA"

[signing]
behavior = "own"
backend = "gpg"

[aliases]
ab = ["absorb"]
d = ["describe"]
dm = ["describe", "-m"]
df = ["diff"]
dfr = ["diff", "-r"]
drop = ["abandon"]
l = ["log"]
lr = ["log", "-r"]
lg = ["log", "-r", "all()"]
rb = ["rebase"]
rbo = ["rebase", "-o"]
rbt = ["rebase", "-o", "trunk()"]
re = ["restore", "-i"]
rea = ["restore"]
s = ["status"]
sp = ["split"]
sq = ["squash", "-i"]
sqa = ["squash"]
# ref: https://shaddy.dev/notes/jj-tug/
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
# git
g = ["git"]
gf = ["git", "fetch"]
gp = ["git", "push"]

[ui]
default-command = "log"
diff-editor = ":builtin"
editor = "nano"

[git]
# (batch) sign commits only upon push
sign-on-push = true
# write an extra commit-header named `change-id`
write-change-id-header = true

[working-copy]
# similar to git's core.autocrlf = input
eol-conversion = "input"

[revset-aliases]
# https://github.com/jj-vcs/jj/discussions/6890
_ = "@"
